<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <nav>
        <ul class="pagination">
          <!-- PREV -->
          <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
            <a (click)="currentPage = currentPage - 1" class="page-link"
              >Prev</a
            >
          </li>

          <!-- PAGING -->
          <ng-container *ngFor="let image of images; let i = index">
            <li
              *ngIf="checkWindowIndex(i)"
              class="page-item"
              [ngClass]="getClass(i)"
            >
              <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
            </li>
          </ng-container>

          <!-- NEXT -->
          <li
            class="page-item"
            [appClass]="{ disabled: currentPage === images.length - 1 }"
          >
            <a (click)="currentPage = currentPage + 1" class="page-link"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div>
        <!-- 
          VER1
          この時の、appClassはディレクティブで、
           [backgroundColor]ｇば、appClassのプロパティになっている。
        <h4 appClass [backgroundColor]="'green'">
          {{ images[currentPage].title }}
        </h4>
        -->
        <!--
          VER2
          ディレクティブとプロパティ名を同じにしたバージョン。
        <h4 [appClass]="'green'">
          {{ images[currentPage].title }}
        </h4>
        -->
        <img [src]="images[currentPage].url" />
      </div>
    </div>
  </div>
</div>
