<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mt-5">
      <div class="border p-5 rounded shadow bg-white">
        <p class="text-center display-6 mb-3">Create an account</p>
        <form [formGroup]="form">
          <div class="row">
            <div class="col-12 mb-3">
              <input
                formControlName="username"
                class="form-control"
                type="text"
                placeholder="Username"
              />
            </div>
            <div class="col-12 mb-3">
              <input
                formControlName="password"
                class="form-control"
                type="password"
                placeholder="Password"
              />
            </div>
            <div class="col-12 mb-3">
              <input
                formControlName="passwordConfirmation"
                class="form-control"
                type="password"
                placeholder="Password Confirmation"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-grid">
              <button class="btn btn-primary">Signup</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {{ form.get("username")?.errors | json }}
  {{ form.get("password")?.errors | json }}
  {{ form.get("passwordConfirmation")?.errors | json }}
  {{ form.errors | json }}
</div>
