<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 mt-5">
      <div class="border p-5 rounded shadow bg-white">
        <p class="text-center display-6 mb-3">Create an account</p>
        <app-message
          *ngIf="showPasswordUnMatchError()"
          type="error"
          message="Password don't match."
        ></app-message>
        <app-message
          *ngIf="showUnExpectedError()"
          type="error"
          message="Unexpected error occurred. Please try later again."
        ></app-message>
        <form [formGroup]="form" (ngSubmit)="signup()">
          <div class="row">
            <div class="col-12 mb-3">
              <app-input
                [control]="controls.username"
                placeholder="Username"
              ></app-input>
              <ng-container *ngIf="showErrors('username')">
                <span
                  *ngIf="controls.username?.errors?.['nonUniqueUsername']"
                  class="text-danger"
                >
                  Username is taken.
                </span>
              </ng-container>
            </div>
            <div class="col-12 mb-3">
              <app-input
                [control]="controls.password"
                placeholder="Password"
                type="password"
              ></app-input>
            </div>
            <div class="col-12 mb-3">
              <app-input
                [control]="controls.passwordConfirmation"
                placeholder="Password Confirmation"
                type="password"
              ></app-input>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4 d-grid">
              <button class="btn btn-primary" [disabled]="form.invalid">
                Signup
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
