<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center p-2 mb-4 border-bottom"
  >
    <a
      routerLink="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <span class="fs-4">NG-MAIL</span>
    </a>

    <ul class="nav nav-pills">
      <ng-container *ngIf="signedin$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inbox" routerLinkActive="active"
            >INBOX</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signout" routerLinkActive="active"
            >SIGNOUT</a
          >
        </li>
      </ng-container>
      <ng-container *ngIf="!(signedin$ | async)">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >SIGNIN</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active"
            >SIGNUP</a
          >
        </li>
      </ng-container>
    </ul>
  </header>
</div>
<router-outlet></router-outlet>
