<nav class="navbar is-info mb-5">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">CREDIT CARD</a>
  </div>
</nav>

<div class="container">
  <div class="card">
    <div class="card-content">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <app-input [control]="controls.name" label="Name"></app-input>
        <app-input
          [control]="controls.cardNumber"
          label="Card Number"
        ></app-input>
        <app-input
          [control]="controls.expiration"
          label="Expiration (MM/YY)"
        ></app-input>
        <app-input
          [control]="controls.securityCode"
          label="Security Code"
        ></app-input>
        <button
          class="button is-info is-rounded"
          type="submit"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
