<app-divider>Table Component</app-divider>
<app-table [header]="header" [data]="data"></app-table>

<app-divider>Tab Menu</app-divider>
<app-tabs>
  <!--
    これだと、http://localhost:4200 に戻ってしまうので、./ にする。
    <a routerLink="" routerLinkActive="active" class="item">Biography</a>
  -->
  <!--
    /collections で回避するのも最悪あり。
    <a routerLink="/collections" routerLinkActive="active" class="item">Biography</a>
  -->
  <!--
    ../elements で、http://localhost:4200/elements に遷移させることも可能。
    <a routerLink="../elements" routerLinkActive="active" class="item">Elements</a>
  -->
  <a
    routerLink="./"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="item"
    >Biography</a
  >
  <a routerLink="./companies" routerLinkActive="active" class="item"
    >Companies</a
  >
  <a routerLink="./partners" routerLinkActive="active" class="item">Partners</a>
</app-tabs>
